# Игнорировать все файлы и подкаталоги в подкаталоге tmp
tmp/*

# Игнорировать файлы, заканчивающиеся на _old
*_old

# Игнорировать файлы, заканчивающиеся на _backup
*_backup

# Игнорировать файлы Thumbs.db
Thumbs.db

# Игнорировать файлы .DS_Store
.DS_Store